.right{
	float:right;
}
.left{
	float:left;
}
.roundUp{
	border-radius: 15px 15px 0px 0px;
}
.roundDown{
	border-radius: 0px 0px 15px 15px;
}
.round{
	border-radius: 15px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
	height: 100%;
}
p {
    display: inline-block;
}


